<div class ="container">
<h1>Welcome to Pierres' Treats</h1>
</div>
<p>@Html.ActionLink("View flavors", "Index", "Flavors")</p>
<p>@Html.ActionLink("View treats", "Index", "Treats")</p>
<p>@Html.ActionLink("Create an account", "Index", "Account")</p>